head,
body {
    font-family: JetBrainsMono Nerd Font Mono;
    background-color: #1f2937;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 55vh;
    margin: 0 auto;
    padding: 20px;
}

.highlight {
    color: #38bdf8;
}

.container {
    width: 80%;
    max-width: 600px;
}

.main-content {
    margin-bottom: 20px;
}

.gen-btn {
    background-color: #38bdf8;
    color: #e0f2fe;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
}

.gen-btn:hover {
    background-color: aquamarine;
    color: #273549;
}

.render-area {
    margin-top: 20px;
    max-height: 35vh;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    align-items: center;
}

.pass-area {
    background-color: #273549;
    color: #38bdf8;
    border: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
    width: 15ch;
    height: 1.5em;
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    resize: none;
    cursor: pointer;
    visibility: hidden;
}

.pass-area:hover {
    background-color: aquamarine;
    color: #273549;
    overflow: visible;
    white-space: normal;
    word-break: break-all;
}

.pass-area:focus {
    border: none;
    outline: none;
    overflow: hidden;
}

.pass-area {
    margin-right: 40px;
}

.separator {
    border: none; /* Remove default border style */
    border-top: 1px solid #2f3e53; /* Line color */
    margin: 20px 0; /* Space around the line */
    width: 80%; /* Line width */
    margin-left: auto; /* Center the line horizontally */
    margin-right: auto; /* Center the line horizontally */
}
